### Import Librabries

In [4]:
# import required package for data handling
import pandas as pd
import numpy as np

# import required packages for splitting data
from sklearn import model_selection
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import train_test_split

# import required packages for evaluating models
from sklearn import metrics
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
from sklearn.metrics import roc_auc_score
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_recall_fscore_support

# import `logistic regression` model
from sklearn.linear_model import LogisticRegression

### Load the source data

In [5]:
# Create dataframe and fill missing values
df = pd.read_csv('Competition1_raw_data.csv', header=0, na_values=['-'])
df.head(5)
df.dtypes

I1          object
I2          object
I3          object
P(IPO)     float64
P(H)       float64
P(L)       float64
P(1Day)    float64
C1         float64
C2         float64
C3         float64
C4         float64
C5         float64
C6         float64
C7         float64
T1         float64
T2         float64
T3         float64
T4         float64
T5         float64
S1         float64
S2         float64
S3         float64
dtype: object

### Analyze the Source Data

In [6]:
df.shape
df.describe()

,P(IPO),P(H),P(L),P(1Day),C1,C2,C3,C4,C5,C6,C7,T1,T2,T3,T4,T5,S1,S2,S3
count,677.000000,672.000000,672.000000,660.000000,660.000000,660.000000,646.000000,660.000000,6.760000e+02,6.760000e+02,610.000000,681.000000,681.000000,681.000000,681.000000,681.000000,681.000000,681.000000,681.000000
mean,13.837666,15.481190,13.515045,25.934766,149.728788,0.859091,1.788904,0.007282,4.935776e+07,1.241519e+07,500.459962,465.634361,12758.606461,11395.844347,294.353891,679.220264,68.421439,120.104258,144.759178
std,6.053731,6.653429,5.835646,73.234948,152.817467,0.348192,162.666532,0.033318,1.043764e+08,2.512855e+07,1648.337634,175.741647,5449.644597,4839.670179,121.532637,472.914323,39.096525,84.828959,69.276285
min,3.000000,0.000000,3.000000,0.000000,10.000000,0.000000,-786.239000,-0.162352,3.693227e+06,5.250000e+05,0.074000,132.000000,0.000000,0.000000,0.000000,-1.000000,-1.000000,20.000000,26.000000
25%,10.000000,12.500000,11.000000,11.000000,85.000000,1.000000,-0.852500,-0.013927,1.871417e+07,5.000000e+06,37.245750,351.000000,9195.000000,8162.000000,213.000000,462.000000,45.000000,73.000000,100.000000
50%,13.500000,15.000000,13.000000,14.845000,107.000000,1.000000,0.010000,0.009125,2.740018e+07,7.398704e+06,103.833000,444.000000,12045.000000,10785.000000,279.000000,624.000000,60.000000,100.000000,134.000000
75%,17.000000,17.000000,15.000000,20.485000,155.250000,1.000000,0.470000,0.031571,4.980786e+07,1.200000e+07,331.138000,551.000000,15241.000000,13760.000000,354.000000,795.000000,85.000000,142.000000,173.000000
max,85.000000,135.000000,108.000000,1159.200562,2087.000000,1.000000,3864.500000,0.092896,2.138085e+09,4.212336e+08,30683.000000,1750.000000,49056.000000,43952.000000,1058.000000,10277.000000,309.000000,944.000000,883.000000

In [7]:
# Calculating the number of nulls in each column.
df.isnull().sum()

I1          0
I2          0
I3          8
P(IPO)      5
P(H)       10
P(L)       10
P(1Day)    22
C1         22
C2         22
C3         36
C4         22
C5          6
C6          6
C7         72
T1          1
T2          1
T3          1
T4          1
T5          1
S1          1
S2          1
S3          1
dtype: int64

#### Imputation

In [8]:
# Replace the missing data with mean/median/mode
df['P(IPO)'].fillna(df['P(IPO)'].median(), inplace = True)
df['P(H)'].fillna(df['P(H)'].median(), inplace = True)
df['P(L)'].fillna(df['P(L)'].median(), inplace = True)
df['P(1Day)'].fillna(df['P(1Day)'].median(), inplace = True)
df['C1'].fillna(df['C1'].median(), inplace = True)
df['C2'].fillna(df['C2'].median(), inplace = True)
df['C3'].fillna(df['C4'].median(), inplace = True)
df['C4'].fillna(df['C4'].median(), inplace = True)
df['C5'].fillna(df['C5'].median(), inplace = True)
df['C6'].fillna(df['C6'].median(), inplace = True)
df['C7'].fillna(df['C7'].median(), inplace = True)
df['T1'].fillna(df['T1'].median(), inplace = True)
df['T2'].fillna(df['T2'].median(), inplace = True)
df['T3'].fillna(df['T3'].median(), inplace = True)
df['T4'].fillna(df['T4'].median(), inplace = True)
df['T5'].fillna(df['T5'].median(), inplace = True)
df['S1'].fillna(df['S1'].median(), inplace = True)
df['S2'].fillna(df['S2'].median(), inplace = True)
df['S3'].fillna(df['S3'].median(), inplace = True)
df.isnull().sum()

I1         0
I2         0
I3         8
P(IPO)     0
P(H)       0
P(L)       0
P(1Day)    0
C1         0
C2         0
C3         0
C4         0
C5         0
C6         0
C7         0
T1         0
T2         0
T3         0
T4         0
T5         0
S1         0
S2         0
S3         0
dtype: int64

In [9]:
# Add Positive EPS dummy column C3_D with dummy variable set to 1 if C3 is positive, otherwise 0. 
df['C3_D'] = pd.get_dummies(df.C3 > 0, drop_first=True, dtype=bool)

# Add Share Overhang column C5_D.
df['C5_D']=df['C5']/df['C6']

# Add Up Revision column C6_D.
df['P(mid)'] = ((df['P(H)']+df['P(L)'])/2)
df['C6_D'] = ((df['P(IPO)']-df['P(mid)'])/df['P(mid)']*0.01).where((df['P(IPO)'] > df['P(mid)']), 0)

#### Adding Target Variables

In [10]:
# Add Pre-IPO Price Revision column Y1.
df['Y1'] = np.where(df['P(IPO)'] < ((df['P(H)'] + df['P(L)'])/2), '1', '0')
df['Y1'] = df['Y1'].astype('int')

#Add Post-IPO Initial Return column Y2.
df['Y2'] = np.where(df['P(IPO)'] < df['P(1Day)'], '1', '0')
df['Y2'] = df['Y2'].astype('int')

df.info()
df.head(5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 682 entries, 0 to 681
Data columns (total 28 columns):
I1         682 non-null object
I2         682 non-null object
I3         674 non-null object
P(IPO)     682 non-null float64
P(H)       682 non-null float64
P(L)       682 non-null float64
P(1Day)    682 non-null float64
C1         682 non-null float64
C2         682 non-null float64
C3         682 non-null float64
C4         682 non-null float64
C5         682 non-null float64
C6         682 non-null float64
C7         682 non-null float64
T1         682 non-null float64
T2         682 non-null float64
T3         682 non-null float64
T4         682 non-null float64
T5         682 non-null float64
S1         682 non-null float64
S2         682 non-null float64
S3         682 non-null float64
C3_D       682 non-null bool
C5_D       682 non-null float64
P(mid)     682 non-null float64
C6_D       682 non-null float64
Y1         682 non-null int64
Y2         682 non-null int64
dtypes: bool(1), float64(22), int64(2), object(3)
memory usage: 144.6+ KB

,I1,I2,I3,P(IPO),P(H),P(L),P(1Day),C1,C2,C3,...,T5,S1,S2,S3,C3_D,C5_D,P(mid),C6_D,Y1,Y2
0,AATI,ADVANCED ANALOGIC TECHNOLOGIES INC,3674,10.0,9.5,8.5,11.870000,122.0,1.0,3.43,...,690.0,62.0,117.0,139.0,True,3.864345,9.0,0.001111,0,1
1,ABPI,ACCENTIA BIOPHARMACEUTICALS INC,2834,8.0,10.0,8.0,7.250000,259.0,0.0,-1.62,...,1120.0,71.0,242.0,237.0,False,12.028832,9.0,0.000000,1,0
2,ACAD,ACADIA PHARMACEUTICALS INC,2834,7.0,14.0,12.0,6.700000,90.0,1.0,-1.24,...,325.0,61.0,33.0,60.0,False,3.369134,13.0,0.000000,1,0
3,ACHN,ACHILLION PHARMACEUTICALS INC,2834,11.5,16.0,14.0,12.390000,209.0,1.0,-0.91,...,509.0,80.0,59.0,110.0,False,3.299697,15.0,0.000000,1,1
4,ACLI,AMERICAN COMMERCIAL LINES INC.,4492,21.0,21.0,19.0,56.599998,80.0,1.0,0.07,...,720.0,67.0,149.0,167.0,True,3.726269,20.0,0.000500,0,1

In [11]:
# Change the data types 
df['Y1'] = df['Y1'].astype('bool')
df['Y2'] = df['Y2'].astype('bool')
df['C2'] = df['C2'].astype('bool')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 682 entries, 0 to 681
Data columns (total 28 columns):
I1         682 non-null object
I2         682 non-null object
I3         674 non-null object
P(IPO)     682 non-null float64
P(H)       682 non-null float64
P(L)       682 non-null float64
P(1Day)    682 non-null float64
C1         682 non-null float64
C2         682 non-null bool
C3         682 non-null float64
C4         682 non-null float64
C5         682 non-null float64
C6         682 non-null float64
C7         682 non-null float64
T1         682 non-null float64
T2         682 non-null float64
T3         682 non-null float64
T4         682 non-null float64
T5         682 non-null float64
S1         682 non-null float64
S2         682 non-null float64
S3         682 non-null float64
C3_D       682 non-null bool
C5_D       682 non-null float64
P(mid)     682 non-null float64
C6_D       682 non-null float64
Y1         682 non-null bool
Y2         682 non-null bool
dtypes: bool(4), float64(21), object(3)
memory usage: 130.6+ KB

In [57]:
#Handle values with 0 - to prevent INF error
df[np.isinf(df)] = 0

TypeError: ufunc 'isinf' not supported for the input types, and the inputs could not be safely coerced to any supported types according to the casting rule ''safe''

In [12]:
# Create column T1_D with Percent of long sentences
df['T1_D']=df['T4']/df['T1']
# Create column T3_D with Percent of real words
df['T3_D']=df['T3']/df['T2']
# Create column T5_D with Percent of long words
df['T5_D']=df['T5']/df['T2']
# Create column S1_D with Percent of Positive words
df['S1_D']=df['S1']/df['T2']
# Create column S2_D with Percent of real words
df['S2_D']=df['S2']/df['T2']
# Create column S3_D with Percent of real words
df['S3_D']=df['S3']/df['T2']

#### Creating new dataframe for predictive analysis of underpricing phenomenon.

In [13]:
# Creating new dataframe by extracting columns from existing dataframe.
data = df[['C1', 'C2', 'C3_D', 'C4', 'C5_D', 'C6_D', 'C7', 'T1_D', 'T3_D', 'T5_D', 'S1_D', 'S2_D', 'S3_D', 'Y1', 'Y2']].copy()
data.info()
data.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 682 entries, 0 to 681
Data columns (total 15 columns):
C1      682 non-null float64
C2      682 non-null bool
C3_D    682 non-null bool
C4      682 non-null float64
C5_D    682 non-null float64
C6_D    682 non-null float64
C7      682 non-null float64
T1_D    682 non-null float64
T3_D    682 non-null float64
T5_D    682 non-null float64
S1_D    682 non-null float64
S2_D    682 non-null float64
S3_D    682 non-null float64
Y1      682 non-null bool
Y2      682 non-null bool
dtypes: bool(4), float64(11)
memory usage: 61.4 KB

,C1,C2,C3_D,C4,C5_D,C6_D,C7,T1_D,T3_D,T5_D,S1_D,S2_D,S3_D,Y1,Y2
0,122.0,True,True,0.029074,3.864345,0.001111,51.345,0.640426,0.908876,0.054250,0.004875,0.009199,0.010929,False,True
1,259.0,False,False,-0.013352,12.028832,0.000000,25.936,0.644753,0.898724,0.051395,0.003258,0.011105,0.010876,True,False
2,90.0,True,False,0.020715,3.369134,0.000000,7.378,0.636816,0.909350,0.061764,0.011593,0.006271,0.011403,True,False
3,209.0,True,False,0.020023,3.299697,0.000000,8.526,0.539634,0.917060,0.061630,0.009686,0.007144,0.013319,True,True
4,80.0,True,True,-0.034895,3.726269,0.000500,632.298,0.587413,0.888469,0.048550,0.004518,0.010047,0.011261,False,True

In [18]:
data.describe()

,C1,C4,C5_D,C6_D,C7,T1_D,T3_D,T5_D,S1_D,S2_D,S3_D
count,682.000000,682.000000,682.000000,682.000000,682.000000,682.000000,682.000000,682.000000,682.000000,682.000000,682.000000
mean,148.350440,0.007342,4.625317,0.000528,458.587321,0.628061,inf,inf,inf,inf,inf
std,150.518513,0.032777,6.245886,0.001078,1563.531760,0.083532,NaN,NaN,NaN,NaN,NaN
min,10.000000,-0.162352,0.283223,0.000000,0.074000,0.000000,0.000000,-0.000089,-0.000093,0.002152,0.005125
25%,85.000000,-0.013352,2.853439,0.000000,41.511500,0.579954,0.883498,0.047297,0.004150,0.007031,0.009570
50%,107.000000,0.009125,3.731035,0.000000,103.833000,0.629015,0.897133,0.051875,0.005054,0.008593,0.011301
75%,152.750000,0.030941,4.865080,0.000714,289.758000,0.674852,0.909732,0.056437,0.006258,0.010535,0.012883
max,2087.000000,0.092896,99.787255,0.010000,30683.000000,1.443089,inf,inf,inf,inf,inf

Check the shape of the data.

In [15]:
#review all columns to later identify needed ones for normalization based on data dictionary and data type
print(df.columns)
col= df.columns

Index(['I1', 'I2', 'I3', 'P(IPO)', 'P(H)', 'P(L)', 'P(1Day)', 'C1', 'C2', 'C3',
       'C4', 'C5', 'C6', 'C7', 'T1', 'T2', 'T3', 'T4', 'T5', 'S1', 'S2', 'S3',
       'C3_D', 'C5_D', 'P(mid)', 'C6_D', 'Y1', 'Y2', 'T1_D', 'T3_D', 'T5_D',
       'S1_D', 'S2_D', 'S3_D'],
      dtype='object')

In [32]:
#filter out columns that contains continous/float64 in order to begin normalization process
#print continuous columns
# checking the continuous columns/float64 that needs to be normalized 
print(df.describe(include= 'float64'))

# Creating new variable (cf) for continuous datatype
cf= df.select_dtypes(include=['float64'])

           P(IPO)        P(H)        P(L)      P(1Day)           C1  \
count  682.000000  682.000000  682.000000   682.000000   682.000000
mean    13.835191   15.474135   13.507493    25.577032   148.350440
std      6.031536    6.604652    5.792972    72.068973   150.518513
min      3.000000    0.000000    3.000000     0.000000    10.000000
25%     10.000000   13.000000   11.000000    11.092500    85.000000
50%     13.500000   15.000000   13.000000    14.845000   107.000000
75%     17.000000   17.000000   15.000000    20.087500   152.750000
max     85.000000  135.000000  108.000000  1159.200562  2087.000000

                C3          C4            C5            C6            C7  \
count   682.000000  682.000000  6.820000e+02  6.820000e+02    682.000000
mean      1.694957    0.007342  4.916458e+07  1.237106e+07    458.587321
std     158.309101    0.032777  1.039359e+08  2.502200e+07   1563.531760
min    -786.239000   -0.162352  3.693227e+06  5.250000e+05      0.074000
25%      -0.750000   -0.013352  1.874682e+07  5.004180e+06     41.511500
50%       0.009125    0.009125  2.740018e+07  7.398704e+06    103.833000
75%       0.440000    0.030941  4.936364e+07  1.193426e+07    289.758000
max    3864.500000    0.092896  2.138085e+09  4.212336e+08  30683.000000

          ...              S3        C5_D      P(mid)        C6_D        T1_D  \
count     ...      682.000000  682.000000  682.000000  682.000000  682.000000
mean      ...      144.743402    4.625317   14.490814    0.000528    0.628061
std       ...       69.226629    6.245886    6.184318    0.001078    0.083532
min       ...       26.000000    0.283223    3.500000    0.000000    0.000000
25%       ...      100.000000    2.853439   12.000000    0.000000    0.579954
50%       ...      134.000000    3.731035   14.000000    0.000000    0.629015
75%       ...      173.000000    4.865080   16.000000    0.000714    0.674852
max       ...      883.000000   99.787255  121.500000    0.010000    1.443089

             T3_D        T5_D        S1_D        S2_D        S3_D
count  682.000000  682.000000  682.000000  682.000000  682.000000
mean          inf         inf         inf         inf         inf
std           NaN         NaN         NaN         NaN         NaN
min      0.000000   -0.000089   -0.000093    0.002152    0.005125
25%      0.883498    0.047297    0.004150    0.007031    0.009570
50%      0.897133    0.051875    0.005054    0.008593    0.011301
75%      0.909732    0.056437    0.006258    0.010535    0.012883
max           inf         inf         inf         inf         inf

[8 rows x 27 columns]

AttributeError: 'Series' object has no attribute 'select_dtypes'

In [54]:
#Fill in null values with Mean but first verify mean for col
cf['P(IPO)'].median()
cf['P(H)'].median()
#loc[row_indexer,col_indexer]
#cf.loc['P(IPO)']= cf['P(IPO)'].fillna(value=cf["P(IPO)"].median())
#cf['P(IPO)'].fillna(value=cf["P(IPO)"].median())

#checking cols that had inf or Nan checking for median
#fill in meadian for Nan values
print(cf['T3_D'].median())
cf['T3_D'].fillna(value=cf["T3_D"].median())
print(cf['T5_D'].median())
cf['T5_D'].fillna(value=cf["T5_D"].median())
print(cf['S1_D'].median())
cf['S1_D'].fillna(value=cf["S1_D"].median())
print(cf['S2_D'].median())
cf['S2_D'].fillna(value=cf["S2_D"].median())
print(cf['S3_D'].median())
cf['S3_D'].fillna(value=cf["S3_D"].median())

0.8971334698944533
0.05187451131539356
0.0050538841853267815
0.00859327883884593
0.011300653585213932

0         0.010929
1         0.010876
2         0.011403
3         0.013319
4         0.011261
5         0.010056
6         0.008567
7         0.010868
8         0.015797
9         0.016094
10        0.009822
11        0.012094
12        0.013957
13        0.013066
14        0.009231
15        0.008544
16        0.012856
17        0.011747
18        0.008656
19        0.007788
20        0.013187
21        0.006147
22        0.014766
23        0.015307
24        0.010813
25        0.015198
26        0.017511
27        0.011129
28        0.009955
29        0.013390
            ...
653       0.014573
654       0.011129
655       0.009541
656       0.012179
657       0.009503
658       0.010731
659       0.011802
660       0.015100
661       0.010191
662       0.009553
663       0.007206
664       0.011278
665       0.011594
666       0.012339
667       0.013140
668       0.012745
669       0.011744
670       0.013076
671       0.016967
672       0.012665
673       0.012830
674       0.006359
675       0.011244
676       0.010927
677       0.012950
678       0.012527
679       0.009926
680       0.014110
681       0.013551
P(IPO)    0.011301
Name: S3_D, Length: 683, dtype: float64

In [53]:
# Min-max normalization, doesn't assume central tendency
# Normalized_df=(df-df.min())/(df.max()-df.min()) - code for normalization
# Importing MinMax from skl package
from sklearn.preprocessing import MinMaxScaler
from sklearn.pipeline import Pipeline

#x = cf.values #returns a numpy array
scaler= MinMaxScaler()
scaler.fit_transform(cf)
#df = pandas.DataFrame(x_scaled)
#Create new dataframe of normzalizsed data

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').